#financiamento {
    background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0px);
}

.financiamento {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding-bottom: 120px;
}

.financiamento h2 {
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
}

.financiamento h2::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--cor-p1);
    position: absolute;
    left: -12px;
}

.financiamento-produto, .financiamento-dados {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.financiamento-produto {
    border-radius: 5px 0 0 5px;
    background: var(--cor-12);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: start;
    }

.financiamento-produto > * {
    grid-column: 1/-1;
}

.financiamento-produto > label {
    grid-column: initial;
}

.financiamento-produto label {
    font: 400 1rem/1.5 "Poppins", sans-serif;
    color: var(--cor-4);
    background-color: var(--cor-10);
    padding: 12px 16px;
    border-radius: 6px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border: 1px solid var(--cor-10);
}

.financiamento-produto input:checked + label {
    background: var(--cor-0);
    color: var(--cor-11);
}

.financiamento-produto label::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid var(--cor-6);
    border-radius: 50%;
    margin-right: 8px;
}

.financiamento-produto input:checked + label::before {
    border-color: var(--cor-7);
    box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 6px var(--cor-7);
}

.financiamento-produto label:hover {
    background-color: var(--cor-9);
    border-color: var(--cor-9);
}

.financiamento-produto input:focus + label {
    box-shadow: 0 0 0 2px var(--cor-p1);
}

.financiamento-produto label span {
    display: none;
}

.financiamento-produto input:checked + label span {
    display: inline-block;
}

.financiamento-produto input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.financiamento-dados {
    border-radius: 0 6px 6px 0;
    background: var(--cor-0);
}

.financiamento-conteudo {
    display: none;
}

.financiamento-conteudo h2, .financiamento-dados h2:nth-of-type(n + 2) {
margin-top: 20px;
}

#motocicletas:checked ~ #financiamento-motocicletas, #seguros:checked ~ #financiamento-seguros {
    display: grid;
    gap: 20px;
}

.financiamento-detalhes {
    display: none;
    background: var(--cor-0);
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    border-radius: 6px;
    align-items: center;
}

.financiamento-detalhes li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.financiamento-detalhes li img {
    width: 16px;
    margin-right: 8px;
}

.financiamento-produto input:checked + label + .financiamento-detalhes {
    display: grid;
}

@media (max-width: 1200px) {
    .financiamento-produto, .financiamento-dados {
        padding: 32px;
    }
}

@media (max-width: 800px) {
    .financiamento {
        grid-template-columns: 1fr;
    }

    .financiamento-produto {
        border-radius: 6px 6px 0 0;
    }

    .financiamento-dados {
        border-radius: 0 0 6px 6px;
    }
}

@media (max-width: 400px) {
    .financiamento-produto {
        grid-template-columns: 1fr;
    }
}